//! **************************************************************************
// Written by: Map P.20131013 on Sat Aug 25 17:31:56 2018
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "i2c_sdat" LOCATE = SITE "A9" LEVEL 1;
COMP "i2c_sclk" LOCATE = SITE "B9" LEVEL 1;
COMP "wr_en" LOCATE = SITE "L3" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P11" LEVEL 1;
COMP "rd_en" LOCATE = SITE "K3" LEVEL 1;
COMP "out<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "out<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "out<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "out<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "out<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "out<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "out<6>" LOCATE = SITE "L14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

